$header-container-width: 1200px;
$header-height: 2rem;

.fab {

}

.fa {
  &-whatsapp {
     &:hover {
       color: green;
     }
  }

  &-facebook-square {
   &:hover {
     color: blue;
   }
  }

  &-youtube {
     &:hover {
       color: red;
     }
  }

  &-github {
     &:hover {
       color: black;
     }
  }

  &-linkedin {
    &:hover {
      color: blue;
    }
  }
}


.icons {
  text-decoration: none;
  list-style: none;
  
}

.info {
  position: fixed;
  width: 100%;
  height: $header-height;
  background-color: #1966FF;
  z-index: 998;
}

.info-content {
  margin: auto;
  max-width: $header-container-width;
  display: flex;
  width: 100%;
  justify-content: space-around;
  justify-items: center;
  background-color: #1966FF;
  padding: 6.5px;

  // &-left {
  //   padding-left: 10px;

  //   &-gmail {
  //     color: #FFFFFF;
  //     font-size: 1rem;
  //   }
  }

  // &-right {
  //   padding-right: 10px;
    
  //   &-phone {
  //     color: #FFFFFF;
  //   }
  // }
// }
