.nosotros_r {
  background-color: var(--bg-fondo-two);
  display: block;
  //height: 780px;

  @media (min-width: 320px) and (max-width: 418px) {
    margin-top: -12rem;
  }

  @media (min-width: 419px) and (max-width: 515px) {
    margin-top: -11rem;
  }

  @media (min-width: 516px) and (max-width: 905px) {
    margin-top: -8rem;
  }
}

.text_nosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 350px, 350px;
  justify-content: center;
  position: relative;
  max-width: 1200px;
  margin: auto;
  top: 20rem;
  z-index: 997;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 75%;
    position: relative;
    top: 0; //arregla cuando se vea en un iphone X
  }

  @media screen and (max-width: 40em) {
    grid-template-columns: 95%;
    position: relative;
    top: 0; //arregla cuando se vea en un iphone X
  }

  &-img {
    position: relative;
    display: block;
    z-index: 999;
    &-svg {
      &::after {
      content: "";
      display: block;
      position: relative;
      left: 110px;
      margin-right: 8rem; 
      width: 480px;
      height: 375px;
      background-image: url(/assets/img/one.svg);
      background-size: contain;
      background-repeat: no-repeat;
      }
    }

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  
  &-parrafo {
    position: relative;
    display: block;
    text-align: center;
    width: 80%;
    height: 250px;
    //padding-top: 13rem;
    line-height: 1.5rem;
    font-size: var(--font-size-parrafo);
    color: var(--bg-color-parrafo);

    &-two {
      color: var(--bg-color-parrafo);
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
      text-align: center;
    }
  }
}

@media (min-width: 320px) and (max-width: 365px) {
  .text_nosotros {
    top: 10rem;
  }
}

@media (min-width: 366px) and (max-width: 418px) {
  .text_nosotros {
    top: 11rem;
  }
}

@media (min-width: 419px) and (max-width: 800px) {
  .text_nosotros {
    top: 17rem;
  }
}

@media (min-width: 801px) and (max-width: 905px) {
  .text_nosotros {
    top: 19rem;
  }
}

@media (min-width: 906px) and (max-width: 1024px) {
  .text_nosotros {
    top: 15rem;
  }
}

@media (min-width: 320px) and (max-width: 332px) {
  .nosotros_r {
    height: 780px;
  }
}

@media (min-width: 333px) and (max-width: 353px) {
  .nosotros_r {
    height: 760px;
  }
}

@media (min-width: 354px) and (max-width: 389px) {
  .nosotros_r {
    height: 740px;
  }
}

@media (min-width: 390px) and (max-width: 418px) {
  .nosotros_r {
    height: 720px;
  }
}

@media (min-width: 419px) and (max-width: 461px) {
  .nosotros_r {
    height: 810px;
  }
}

@media (min-width: 462px) and (max-width: 557px) {
  .nosotros_r {
    height: 770px;
  }
}

@media (min-width: 558px) and (max-width: 640px) {
  .nosotros_r {
    height: 750px;
  }
}

@media (min-width: 641px) and (max-width: 800px) {
  .nosotros_r {
    height: 770px;
  }
}

@media (min-width: 641px) and (max-width: 706px) {
  .nosotros_r {
    height: 770px;
  }
}

@media (min-width: 707px) and (max-width: 800px) {
  .nosotros_r {
    height: 750px;
  }
}

@media (min-width: 801px) and (max-width: 844px) {
  .nosotros_r {
    height: 770px;
  }
}

@media (min-width: 845px) and (max-width: 905px) {
  .nosotros_r {
    height: 750px;
  }
}

@media (min-width: 906px) and (max-width: 958px) {
  .nosotros_r {
    height: 690px;
  }
}

@media (min-width: 959px) and (max-width: 1024px) {
  .nosotros_r {
    height: 680px;
  }
}

@media (min-width: 1025px) and (max-width: 1028px) {
  .nosotros_r {
    height: 1000px;
  }
}

@media (min-width: 1029px) and (max-width: 1116px) {
  .nosotros_r {
    height: 980px;
  }
}

@media (min-width: 1117px) and (max-width: 1156px) {
  .nosotros_r {
    height: 920px;
  }
}

@media (min-width: 1157px) {
  .nosotros_r {
    height: 900px;
  }
}
