.onda_two_servicio-container {

  &::before {
    content: "";
    position: absolute;
    display: block;
     //para que se baje usa el resposive y ponle más px al boton
    top: 106rem;
    width: 100%;
    height: 285px;
    background-image: url(/assets/img/wave-bottom.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-title {
    display: block;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgba(25, 102, 255, .6);
    transform: translateY(-1rem);
  }

  &-subtitle {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: rgba(25, 102, 255, .9);    
    transform: translateY(-2.5rem);
  }

  &-opacity {
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    transform: translateY(-3rem);
    width: 100%;
    z-index: 995;
  }
}

@media (min-width: 320px) and (max-width: 598px) {
  .onda_two_servicio-container::before {
    top: 162rem;
  }
}

@media (min-width: 598px) and (max-width: 1024px) {
  .onda_two_servicio-container::before {
    top: 141.5rem;
  }
}
