.onda_down_two_app-container {
  transform: translateY(-3rem);
  //padding-bottom: 2rem;
  z-index: 998;

  @media screen and (min-width: 30em) {
    transform: translateY(-2rem);
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 285px;
    background-image: url(/assets/img/wave-bottom.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-title { transform: translateY(4rem); }

  &-subtitle { transform: translateY(3.5rem); }

&-opacity {
  transform: translateY(8rem);
  z-index: 997;
}
}

@media (min-width: 801px) and (max-width: 1023px) {
  .onda_down_two_app-container {
    transform: translateY(-11rem);
  }
}

@media (min-width: 320px) and (max-width: 461px) {
  .onda_down_two_app-container {
    transform: translateY(-11rem);
  }
}

@media (min-width: 461px) and (max-width: 800px) {
  .onda_down_two_app-container {
    transform: translateY(-11rem);
  }
}

@media (min-width: 1024px) {
  .onda_down_two_app-container {
    transform: translateY(-11rem);
  }
}
