.onda-container {

  &::before {
    content: "";
    position: absolute;
    top: 21.5rem;
    width: 100%;
    height: 285px;
    background-image: url(/assets/img/wave-bottom.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-title {    
    transform: translateY(-.5rem);

    @media (min-width: 320px) and (max-width: 641px) {
      transform: translateY(1rem);      
      font-size: calc(var(--font-size-title) + .1rem);
    }

    @media (min-width: 641px) and (max-width: 800px) {
      transform: translateY(2rem);  
      font-size: calc(var(--font-size-title) + .6rem);
    }
  }

  &-subtitle {       
    transform: translateY(-2rem);
  }

&-opacity {
  transform: translateY(-3rem);
  }
}

@media (max-width: 800px) {
  .onda-container-subtitle {
    display: none;
  }
}

.title {
  display: block;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: var(--font-size-title);
  color: var(--bg-title);
}

.subtitle {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: var(--font-size-subtitle);
  color: var(--bg-subtitle);
}

.ondaFlex {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
