.Poster {
  width: 100%;
  height: 620px;
  position: relative;
  overflow: hidden;
  background: {
    position: center;
    repeat: no-repeat;
    size: cover;
    //attachment: fixed;
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   display: block;
  //    //para que se baje usa el resposive y ponle más px al boton
  //   //top: 21.5rem;
  //   //padding-bottom: 2rem;
  //   width: 100%;
  //   height: 285px;
  //   background-image: url(/assets/img/wave-bottom.svg);
  //   background-size: cover;
  //   background-repeat: no-repeat;    
  // }

  @media (min-width: 320px) and (max-width: 800px) {
    height: 550px;
  }

  &--opacity {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 620px;
    background-color: rgba(43, 134, 220, .5);
  }

  &-title {
    // es de la que hizo mircha
    // padding: 0 3vh;
    // font-size: 5vw;
    // text-align: center;
    // letter-spacing: 2vw;
    // color: #FFF;
  }

  &-group {
    display: flex;
    position: relative;
    flex-direction: column;
    bottom: 5rem;
  }

  &-title {
    padding: 0 3vh;
    font-size: 5.5vh;
    text-align: center;
    letter-spacing: 1vw;
    color: rgb(255, 255, 255);
  }

  &-subtitle {
    display: block;
    font-size: 3vh;
    letter-spacing: .4vw;
    padding-top: 1vh;
    color: rgba(255, 255, 255, 0.8);
  }

  &-bottom {
    position: relative;
    //padding: 0 3vh;
    //font-size: 4vh;
    text-align: center;
    //top: .5rem;

    &-movil {
      position: relative;
      display: inline-block;
      width: 150px;
      left: -5px;
    }

    &-tablet {
      position: relative;
      display: inline-block;
      width: 150px;
      left: 5px;
    }

    @media screen and (max-width: 440px) {
      &-tablet {
        display: none;
      }
    }
  }
}
