.calidad-servicio_diseno {
  width: 100%;  
  background-color: var(--bg-fondo-one);
  z-index: 993;
  

  @media (min-width: 320px) and (max-width: 460px) {
    height: 170px;
  }

  @media (min-width: 461px) and (max-width:598px) {
    height: 200px;
  }

  @media (min-width: 598px) and (max-width: 598px) {
    height: 260px;
  }

  @media (min-width: 599px) and (max-width: 800px) {
    height: .1px;
  }

  @media (min-width: 801px) and (max-width: 1023px) {
    height: 280px;
  }

  @media screen and (min-width: 1024px) {
    height: 520px;
  } 

  @media screen and (max-width:480px) {
    margin-top: 4.5rem;
  }
 }

.calidad-servicio_diseno-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1rem;
  align-items: center;
  justify-items: center;
  position: relative;
  text-align: center;
  //top: 18rem;
  max-width: 1200px;
  margin: auto;
  z-index: 998;

  @media screen and (max-width: 37.4em) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    z-index: 991;
  }

  @media (min-width: 599px) and (max-width: 800px) {
    top: 3rem;
  }

  @media (min-width: 801px) and (max-width: 1023px) {
    top: 3rem;
  }

  @media (min-width: 1024px) {
    top: 8rem;
    z-index: 991;
  }


  &-moderno {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-calidad {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-atencion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}



.img-moderno-servicio_diseno {
  display: block;
  position: relative;
  width: 70px;
  height: 70px;

  &::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    transform: translateX(-2rem);
    background-image: url(/assets/img/moderno.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.img-calidad-servicio_diseno {
  display: block;
  position: relative;
  width: 70px;
  height: 70px;

  &::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    transform: translateX(-2rem);
    background-image: url(/assets/img/calidad.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.img-atencion-servicio_diseno {
  display: block;
  position: relative;
  width: 70px;
  height: 70px;
  transform: translateX(-1.5rem);

  &::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url(/assets/img/atencion.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.img-two-servicio_diseno {
  width: 90px;
  height: 90px;

  &::before {
    content: "";
    position: absolute;
    width: 35%;
    height: 35%;
    text-align: center;
    transform: translateX(-12rem);
    background-image: url(/assets/img/two.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 1023px) {
  .calidad-servicio_diseno {
    margin-top: 7rem;
  }
}

@media (min-width: 598px) and (max-width: 598px) {
  .calidad-servicio_diseno {
    margin-top: 4rem;
  }
}

@media (min-width: 1024px) {
  .calidad-servicio_diseno {
    margin-top: 1.5rem;
  }
}


// Mover Iconos

@media (min-width: 598px) and (max-width: 800px) {
  .calidad-servicio_diseno-container {
    padding-top: 3rem;
    z-index: 991;
  }
}
