.servicio {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 310px);
  justify-content: center;
  grid-column-gap: 1rem;
  max-width: 1200px;
  //text-align: center;
  line-height: 1.4rem;
  margin: auto;
  top: 4rem;
  z-index: 997;

  @media (min-width: 320px) and (max-width: 1023px) {
    grid-template-columns: repeat(1, 310px);
    grid-template-rows: repeat(3, 310px);
    grid-row-gap: 8rem;
  }

  &-diseno {

    &-img {

      &-photo {
        width: 230px;
        height: 110px;
      }
    }
  }

  &-app {
    
  }

  &-seo {
    
  }
}

.todo {
  display: block;
  position: relative;
  //transform: translateX(50%);
  width: 310px;
  height: 210px;
}

.titulo {
  color: #1966FF;
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  top: 1rem;
}

.titulo2 {
  text-align: center;
  position: relative;
  width: 80%;
  top: 1.3rem;
}

.btnn {
  position: relative;
  top: 1.8rem;
  text-decoration: none;
  padding: .5rem 1rem;
  background-color: #1966FF;
  color: aliceblue;
  font-weight: 580;
  border-radius: 15px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opacity-servicio {
  //width: 80%;
  height: 410px;
  border-radius: 3px;
  background-color: #D8F4FF;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.photo {
  display: block;
  width: 310px;
  height: 210px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
  //clip-path: polygon(0 0, 100% 0, 100% 93%, 50% 100%, 0 93%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}


@media (min-width: 320px) and (max-width: 800px) {
  .servicio {
    position: relative;
    top: 0;
  }
}
