.container_textdos_app {
  height: 230px;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: center;
  top: 0;
}

.app_textdos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  height: 500px;
  //padding-bottom: 18rem;
  z-index: 998;

  @media (min-width: 320px) and (max-width: 400px) {
    height: 500px;
  }

  @media (min-width: 401px) and (max-width: 431px) {
    height: 480px;
  }

  @media (min-width: 432px) and (max-width: 457px) {
    height: 460px;
  }

  @media (min-width: 458px) and (max-width: 568px) {
    height: 430px;
  }

  @media (min-width: 569px) and (max-width: 663px) {
    height: 400px;
  }



  @media (min-width: 664px)  {
    height: 380px;
  }

  &-one {
    line-height: 1.4rem;
  }

  &-two {
    line-height: 1.4rem;
  }

  &-three {
    line-height: 1.4rem;
  }
}

@media (min-width: 320px) and (max-width: 388px) {
  .app_textdos {
    //padding-top: 9rem;
  }
}

@media (min-width: 388px) and (max-width: 570px) {
  .app_textdos {
    //padding-top: 6rem;
  }
}

@media (min-width: 664px) and (max-width: 841px) {
  .app_textdos {
    //padding-top: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .app_textdos {
    width: 70%;
  }
}

.btn {
  z-index: 992;
}


@media (min-width: 320px) and (max-width: 331px) {
  .container_textdos_app {
    height: 100px;
  }
}

@media (min-width: 331px) and (max-width: 379px) {
  .container_textdos_app {
    height: 110px;
  }
}

@media (min-width: 380px) and (max-width: 431px) {
  .container_textdos_app {
    height: 100px;
  }
}

@media (min-width: 432px) and (max-width: 460px) {
  .container_textdos_app {
    height: 70px;
  }
}

@media (min-width: 461px) and (max-width: 800px) {
  .container_textdos_app {
    height: 50px;
  }
}

@media (min-width: 800px) and (max-width: 1024px) {
  .container_textdos_app {
    height: 370px;
  }
}

@media (min-width: 800px) and (max-width: 800px) {
  .container_textdos_app {
    height: 40px;
  }
}
