.container_dostext_seo {
  height: 100px;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: center;
}

.seo_dostext {
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  text-align: center;
  width: 90%;
  position: relative;
  top: 1.5rem;
  //padding-bottom: 18rem;
  

  &-one {
    line-height: 1.6rem;
  }
}

@media screen and (min-width: 1200px) {
  .seo_dostext {
    width: 70%;
  }
}

.btn {
  z-index: 992;
}


@media (min-width: 320px) and (max-width: 338px) {
  .container_dostext_seo {
    height: 5px;
  }
}

@media (min-width: 339px) and (max-width: 800px) {
  .container_dostext_seo {
    height: .1px;
  }
}

@media (min-width: 800px) and (max-width: 1023px) {
  .container_dostext_seo {
    height: 280px;
  }
}

@media (min-width: 1024px) and (max-width: 1024px) {
  .container_dostext_seo {
    height: 100px;
  }
}

@media (min-width: 800px) and (max-width: 800px) {
  .container_dostext_seo {
    height: 10px;
  }
}

// @media (min-width: 801px) and (max-width: 801px) {
//   .container_dostext_seo {
//     height: 11px;
//   }
// }

// @media (min-width: 454px) and (max-width: 662px) {
//   .container_textdos_app {
//     height: 700px;
//   }
// }

// @media (min-width: 462px) and (max-width: 800px) {
//   .container_textdos {
//     height: 650px;
//   }
// }

//Subir para que encaje con la onda

// @media (min-width: 800px) and (max-width: 1023px) {
//   .container_textdos {
//     margin-top: -9rem;
//   }
// }

// @media (min-width: 540px) and (max-width: 800px) {
//   .container_textdos {
//     margin-top: 12rem;
//   }
// }

// @media (min-width: 320px) and (max-width: 540px) {
//   .container_textdos {
//     margin-top: 15rem;
//   }
// }
