.container_textdos {
  height: 640px;
  background-color: var(--bg-fondo-two);
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: center;
}

.diseno_textdos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  height: 500px;
  padding-top: 12rem;
  background-color: var(--bg-fondo-two);
  

  &-one {
    line-height: 1.4rem;
  }

  &-two {
    line-height: 1.4rem;
  }

  &-three {
    line-height: 1.4rem;
  }
}

@media (min-width: 320px) and (max-width: 359px) {
  .diseno_textdos {
    padding-top: 19rem;
  }
}

@media (min-width: 360px) and (max-width: 374px) {
  .diseno_textdos {
    padding-top: 19rem;
  }
}

@media (min-width: 374px) and (max-width: 409px) {
  .diseno_textdos {
    padding-top: 17rem;
  }
}

@media (min-width: 410px) and (max-width: 421px) {
  .diseno_textdos {
    padding-top: 21rem;
  }
}

@media (min-width: 421px) and (max-width: 454px) {
  .diseno_textdos {
    padding-top: 16rem;
  }
}

@media (min-width: 454px) and (max-width: 460px) {
  .diseno_textdos {
    padding-top: 14rem;
  }
}

@media (min-width: 461px) and (max-width: 540px) {
  .diseno_textdos {
    padding-top: 10rem;
  }
}

@media (min-width: 541px) and (max-width: 800px) {
  .diseno_textdos {
    padding-top: 16rem;
  }
}

@media screen and (min-width: 1200px) {
  .diseno_textdos {
    width: 70%;
  }
}

.btn {
  z-index: 999;
}


@media (min-width: 320px) and (max-width: 370px) {
  .container_textdos {
    height: 680px;
  }
}

@media (min-width: 371px) and (max-width: 420px) {
  .container_textdos {
    height: 670px;
  }
}

@media (min-width: 421px) and (max-width: 454px) {
  .container_textdos {
    height: 630px;
  }
}

@media (min-width: 454px) and (max-width: 660px) {
  .container_textdos {
    height: 610px;
  }
}

@media (min-width: 461px) and (max-width: 540px) {
  .container_textdos {
    height: 570px;
  }
}

@media (min-width: 541px) and (max-width: 800px) {
  .container_textdos {
    height: 600px;
  }
}

@media (min-width: 801px) {
  .container_textdos {
    height: 570px;
  }
}

//Subir para que encaje con la onda

@media (min-width: 800px) and (max-width: 1023px) {
  .container_textdos {
    margin-top: -9rem;
  }
}

@media (min-width: 540px) and (max-width: 800px) {
  .container_textdos {
    margin-top: 14rem;
  }
}

@media (min-width: 320px) and (max-width: 540px) {
  .container_textdos {
    margin-top: 18rem;
  }
}
