.container_app {
  height: 640px;
  background-color: #AFE7FE;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: center;
}

.app_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  height: 500px;
  padding-top: 12rem;
  background-color: #AFE7FE;
  

  &-one {
    line-height: 1.4rem;
  }

  &-two {
    line-height: 1.4rem;
  }

  &-three {
    line-height: 1.4rem;
  }
}

@media (min-width: 320px) and (max-width: 359px) {
  .app_text {
    padding-top: 34rem;
  }
}

@media (min-width: 360px) and (max-width: 381px) {
  .app_text {
    padding-top: 34rem;
  }
}

@media (min-width: 381px) and (max-width: 440px) {
  .app_text {
    padding-top: 32rem;
  }
}

@media (min-width: 440px) and (max-width: 454px) {
  .app_text {
    padding-top: 32rem;
  }
}

@media (min-width: 454px) and (max-width: 480px) {
  .app_text {
    padding-top: 30rem;
  }
}

@media (min-width: 480px) and (max-width: 507px) {
  .app_text {
    padding-top: 29rem;
  }
}

@media (min-width: 508px) and (max-width: 636px) {
  .app_text {
    padding-top: 28rem;
  }
}

@media (min-width: 637px) and (max-width: 800px) {
  .app_text {
    padding-top: 26rem;
  }
}

@media (min-width: 801px) {
  .app_text {
    padding-top: 22rem;
  }
}

@media screen and (min-width: 1200px) {
  .app_text {
    width: 70%;
  }
}

.btn {
  z-index: 999;
}


@media (min-width: 320px) and (max-width: 380px) {
  .container_app {
    height: 950px;
  }
}

@media (min-width: 381px) and (max-width: 410px) {
  .container_app {
    height: 900px;
  }
}

@media (min-width: 381px) and (max-width: 380px) {
  .container_app {
    //height: 900px;
  }
}

@media (min-width: 410px) and (max-width: 454px) {
  .container_app {
    height: 880px;
  }
}

@media (min-width: 454px) and (max-width: 500px) {
  .container_app {
    height: 820px;
  }
}

@media (min-width: 501px) and (max-width: 636px) {
  .container_app {
    height: 800px;
  }
}

@media (min-width: 637px) and (max-width: 800px) {
  .container_app {
    height: 760px;
  }
}

@media (min-width: 801px) and (max-width: 845px) {
  .container_app {
    height: 710px;
  }
}

@media (min-width: 846px)  {
  .container_app {
    height: 680px;
  }
}
