.container {
  height: 640px;
  background-color: var(--bg-fondo-two);
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: center;
}

.diseno_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  height: 500px;
  padding-top: 10rem;
  background-color: var(--bg-fondo-two);
  

  &-one {
    line-height: 1.2rem;
  }

  &-two {
    line-height: 1.2rem;
  }

  &-three {
    line-height: 1.2rem;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .diseno_text {
    padding-top: 28rem;
  }
}

@media (min-width: 374px) and (max-width: 454px) {
  .diseno_text {
    padding-top: 25rem;
  }
}

@media (min-width: 454px) and (max-width: 531px) {
  .diseno_text {
    padding-top: 22rem;
  }
}

@media (min-width: 531px) and (max-width: 638px) {
  .diseno_text {
    padding-top: 22rem;
  }
}

@media (min-width: 638px) and (max-width: 880px) {
  .diseno_text {
    padding-top: 20rem;
  }
}

@media (min-width: 880px) {
  .diseno_text {
    padding-top: 17rem;
  }
}

@media screen and (min-width: 1200px) {
  .diseno_text {
    width: 70%;
  }
}

.btn {
  z-index: 999;
}


@media (min-width: 320px) and (max-width: 370px) {
  .container {
    height: 900px;
  }
}

@media (min-width: 370px) and (max-width: 545px) {
  .container {
    height: 880px;
  }
}

@media (min-width: 454px) and (max-width: 599px) {
  .container {
    height: 800px;
  }
}

@media (min-width: 599px) and (max-width:800px) {
  .container {
    height: 730px;
  }
}

@media (min-width: 801px) and (max-width: 879px) {
  .container {
    height: 730px;
  }
}

@media (min-width: 879px) and (max-width: 900px) {
  .container {
    height: 710px;
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  .container {
    height: 680px;
  }
}

@media (min-width: 1024px) {
  .container {
    height: 710px;
  }
}
