.container_textdos_seo {
  height: 620px;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: center;
  background-color: #AFE7FE;
}

.seo_textdos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  height: 500px;
  padding-top: 9rem;

  &-one {
    line-height: 1.2rem;
  }

  &-two {
    line-height: 1.2rem;
  }

  &-three {
    line-height: 1.2rem;
  }
}

.font {
  font-family: sans-serif;
  color: #5D5D5D;
}



@media (min-width: 320px) and (max-width: 370px) {
  .seo_textdos {
    padding-top: 24rem;
  }
}

@media (min-width: 370px) and (max-width: 388px) {
  .seo_textdos {
    padding-top: 21rem;
  }
}

@media (min-width: 388px) and (max-width: 530px) {
  .seo_textdos {
    padding-top: 16rem;
  }
}

@media (min-width: 530px) and (max-width: 570px) {
  .seo_textdos {
    padding-top: 15rem;
  }
}

@media (min-width: 570px) and (max-width: 638px) {
  .seo_textdos {
    padding-top: 14rem;
  }
}

// @media (min-width: 664px) and (max-width: 841px) {
//   .seo_textdos {
//     padding-top: 6rem;
//   }
// }

// @media (min-width: 380px) and (max-width: 436px) {
//   .app_textdos {
//     padding-top: 4rem;
//   }
// }

// @media (min-width: 360px) and (max-width: 374px) {
//   .app_textdos {
//     padding-top: 23rem;
//   }
// }

// @media (min-width: 374px) and (max-width: 440px) {
//   .app_textdos {
//     padding-top: 20rem;
//   }
// }

// @media (min-width: 440px) and (max-width: 454px) {
//   .app_textdos {
//     padding-top: 19rem;
//   }
// }

// @media (min-width: 454px) and (max-width: 480px) {
//   .app_textdos {
//     padding-top: 17rem;
//   }
// }

// @media (min-width: 480px) and (max-width: 640px) {
//   .app_textdos {
//     padding-top: 14rem;
//   }
// }

@media screen and (min-width: 1200px) {
  .seo_textdos {
    width: 70%;
  }
}

.btn {
  z-index: 992;
}

@media (min-width: 320px) and (max-width: 369px) {
  .container_textdos_seo {
    height: 780px;
  }
}

@media (min-width: 370px) and (max-width: 387px) {
  .container_textdos_seo {
    height: 740px;
  }
}

@media (min-width: 387px) and (max-width: 640px) {
  .container_textdos_seo {
    height: 700px;
  }
}

@media (min-width: 460px) and (max-width: 640px) {
  .container_textdos_seo {
    height: 670px;
  }
}

@media (min-width: 640px) and (max-width: 659px) {
  .container_textdos_seo {
    height: 620px;
  }
}



@media (min-width: 800px) and (max-width: 1024px) {
  .container_textdos_seo {
    //height: 350px;
  }
}

// @media (min-width: 454px) and (max-width: 662px) {
//   .container_textdos_app {
//     height: 700px;
//   }
// }

// @media (min-width: 462px) and (max-width: 800px) {
//   .container_textdos {
//     height: 650px;
//   }
// }

//Subir para que encaje con la onda

// @media (min-width: 800px) and (max-width: 1023px) {
//   .container_textdos {
//     margin-top: -9rem;
//   }
// }

// @media (min-width: 540px) and (max-width: 800px) {
//   .container_textdos {
//     margin-top: 12rem;
//   }
// }

// @media (min-width: 320px) and (max-width: 540px) {
//   .container_textdos {
//     margin-top: 15rem;
//   }
// }
