.text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  justify-items: center;
  position: relative;
  max-width: 1200px;
  margin: auto;
  z-index: 997;

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    position: relative;
  }

  @media (min-width: 640px) and (max-width: 1023px) {
    padding-top: 2rem;
  }

  @media screen and (min-width: 1023px) {
    top: 3rem;
  }

  &-img {
    position: relative;
    display: block;

    @media (min-width: 1023px) {
      padding-top: 3rem;
    }

    &-i {
      display: block;
      width: 480px;
      height: 375px;
      background: {
        position: center;
        repeat: no-repeat;
        size: cover;        
      }
    }

    @media screen and (max-width: 1023px) {
      display: none;
    }
  }
  
  &-parrafo {
    position: relative;
    display: block;

    @media (min-width: 320px) and (max-width: 641px) {
      padding: 1rem .5rem;
    }

    @media (min-width: 641px) and (max-width: 1023px) {
      padding: 0 3rem;
    }

    @media (min-width: 1023px) {
      padding: 0 2rem;
      padding-top: 4rem;
    }

    &-two {
      padding-top: .6rem;
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
      text-align: center;
    }
  }
}

.btn {
  position: relative;
  text-decoration: none;
  font-weight: bold;
  font-family: var(--font-family);
  font-size: var(--font-size-btn);
  background-color: var(--bg-btn);
  padding: .9rem;
  border-radius: 2px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: var(--bg-btn-letra);
  top: .5rem;

  &:hover {
    background-color: tomato;
    transition: .5s;
  }
}

.texto {
  position: relative;
  display: block;
  text-align: center;
  line-height: var(--line-height);
  font-size: var(--font-size-parrafo);
  color: var(--bg-color-parrafo);
  font-family: var(--font-family);
}
