mixin contacto_textdos(one, two, three)
  div.container_textdos_contacto
    article.contacto_textdos
      span.contacto_textdos-one.texto= one
      br
      span.contacto_textdos-two.texto= two
      br
      span.contacto_textdos-three.texto= three
        br
        br
        br
        a(href="./nosotros.html").btn Conoce más
