mixin footer_nosotros()
  article.footer
    section.footer-container.seo
      div.footer-container-portafolio.name
        h3.footer-container-name Portafolio
        span.footer-container-portafolio-title Recive nuestro portafolio.
        input(type="text" placeholder=" Nombre").footer-container-portafolio-label
        input(type="text" placeholder=" E-mail").footer-container-portafolio-labeltwo
        br
        br
        a(href="").footer-container-portafolio-boton Enviar
      div.footer-container-servicios.name
        h3.footer-container-servicios-name Servicios
        ul
          li.menu_li
            a(href="").menu_li_a Marketing Online
          li.menu_li
            a(href="").menu_li_a SEO - Posicionamiento Web
          li.menu_li
            a(href="").menu_li_a Social Media Marketing
          li.menu_li
            a(href="").menu_li_a Diseño y Desarrollo Web
          li.menu_li
            a(href="").menu_li_a Auditoría Web
          li.menu_li
            a(href="").menu_li_a Diseño de marca
      div.footer-container-acerca.name
        h3.footer-container-acerca-name Acerca de
        ul
          li.menu_li
            a(href="").menu_li_a ¿Qué hacemos?
          li.menu_li
            a(href="").menu_li_a Nuestra historia
          li.menu_li
            a(href="").menu_li_a Casos de éxito
          li.menu_li
            a(href="").menu_li_a Empleos
          li.menu_li
            a(href="").menu_li_a Alianzas
      div.footer-container-acercade.name
        h3.footer-container-acercade-name Acerca de
        ul
          li.menu_li
            a(href="").menu_li_a Chat en vivo
          li.menu_li
            a(href="").menu_li_a Enviar una pregunta
          li.menu_li
            a(href="").menu_li_a Gestor de proyectos
          li.menu_li
            a(href="").menu_li_a Facturación de servicios
