mixin information()
  section.info
    div.info-content
      a.icons(href="#")
        <span style="font-size: 1em; color: white;">
          <i class="fab fa-whatsapp"></i>
        </span>
      a.icons(href="#")
        <span style="font-size: 1em; color: white;">
          <i class="fab fa-facebook-square"></i>
        </span>
      a.icons(href="#")
        <span style="font-size: 1em; color: white;">
          <i class="fab fa-youtube"></i>
        </span>
      a.icons(href="#")
        <span style="font-size: 1em; color: white;">
          <i class="fab fa-github"></i>
        </span>
      a(href="#")
        <span style="font-size: 1em; color: white;">
          <i class="fab fa-linkedin"></i>
        </span>
