mixin information()
  section.info
    div.info-content
      a.icons(href="https://api.whatsapp.com/send?text=Te%20recomiendo%20esta%20página%20web%20para%20el%20diseño%20y%20desarrollo%20de%20tu%20sitio%20web,%20a%20mí%20me%20ha%20ayudado%20mucho%20https://centerpage.co")
        <span style="font-size: 1em; color: white;">
          <i class="fab fa-whatsapp"></i>
        </span>
      a.icons(href="https://www.facebook.com/eddy.rufinosilva")
        <span style="font-size: 1em; color: white;">
          <i class="fab fa-facebook-square"></i>
        </span>
      a.icons(href="https://www.youtube.com/channel/UCVjaoA9YRI5cKPmiTMcUjSw")
        <span style="font-size: 1em; color: white;">
          <i class="fab fa-youtube"></i>
        </span>
      a.icons(href="https://github.com/EddyRufino")
        <span style="font-size: 1em; color: white;">
          <i class="fab fa-github"></i>
        </span>
      a.icons(href="https://www.linkedin.com/in/eddy-rufino-6b28a411a/")
        <span style="font-size: 1em; color: white;">
          <i class="fab fa-linkedin"></i>
        </span>
