mixin information(gmail, phone)
  section.info
    div.info-content
      div.info-content-left
        span.info-content-left-gmail=gmail
      div.info-content-right
        span.info-content-right-phone=phone
