mixin text_nosotros(text, text2)
  .nosotros_r
    article.text_nosotros
      div.text_nosotros-img
        span.text_nosotros-img-svg
      span.texto.text_nosotros-parrafo= text
        br
        br
        span.texto.text_nosotros-parrafo-two= text2
        br
        br
        a(href="").btn Contactanos
