mixin onda_down_app(title, subtitle)
  div.onda_down_app-container
    div.onda_down_app-container-opacity.ondaFlex
      span.onda_down_app-container-title.title= title
      h2.onda_down_app-container-subtitle.subtitle= subtitle
