mixin onda_down_two_portafolio(title, subtitle)
  div.onda_down_two_portafolio-container
    div.onda_down_two_portafolio-container-opacity.ondaFlex
      span.onda_down_two_portafolio-container-title.title= title
      span.onda_down_two_portafolio-container-subtitle.subtitle= subtitle
