mixin onda_down_portafolio(title, subtitle)
  div.onda_down_portafolio-container
    div.onda_down_portafolio-container-opacity.ondaflex
      span.onda_down_portafolio-container-title.title= title
      h2.onda_down_portafolio-container-subtitle.subtitle= subtitle
