mixin onda_down_footer_diseno(title, subtitle)
  div.onda_down_footer_diseno-container
    div.onda_down_footer_diseno-container-opacity
      span.onda_down_footer_diseno-container-title= title
      h2.onda_down_footer_diseno-container-subtitle= subtitle
