mixin onda_down_two_contacto(title, subtitle)
  div.onda_down_two_contacto-container
    div.onda_down_two_contacto-container-opacity.ondaFlex
      span.onda_down_two_contacto-container-title.title= title
      span.onda_down_two_contacto-container-subtitle.subtitle= subtitle
