mixin onda_down_two(title, subtitle)
  div.onda_down_two-container
    div.onda_down_two-container-opacity.ondaFlex
      span.onda_down_two-container-title.title= title
      h2.onda_down_two-container-subtitle.subtitle= subtitle
