mixin onda(title, subtitle)
  div.onda-container
    div.onda-container-opacity
      span.onda-container-title= title
      h2.onda-container-subtitle= subtitle
      //- div.onda-container-triangle-right
      //-   .onda-container-triangle-right-right
      //-   .onda-container-triangle-right-one
      //-   .onda-container-triangle-right-two
    