mixin onda_down_two_diseno(title, subtitle)
  div.onda_down_two_diseno-container
    div.onda_down_two_diseno-container-opacity.ondaFlex
      span.onda_down_two_diseno-container-title.title= title
      span.onda_down_two_diseno-container-subtitle.subtitle= subtitle
