mixin onda_down_dos_diseno(title, subtitle)
  div.onda_down_dos_diseno-container
    div.onda_down_dos_diseno-container-opacity.ondaFlex
      span.onda_down_dos_diseno-container-title.title= title
      h2.onda_down_dos_diseno-container-subtitle.subtitle= subtitle
