mixin onda_down_seo(title, subtitle)
  div.onda_down_seo-container
    div.onda_down_seo-container-opacity.ondaFlex
      span.onda_down_seo-container-title.title= title
      h2.onda_down_seo-container-subtitle.subtitle= subtitle
