mixin onda_down_two_nosotros(title, subtitle)
  div.onda_down_two_nosotros-container
    div.onda_down_two_nosotros-container-opacity.ondaFlex
      span.onda_down_two_nosotros-container-title.title= title
      span.onda_down_two_nosotros-container-subtitle.subtitle= subtitle
