mixin onda_down_contacto(title, subtitle)
  div.onda_down_contacto-container
    div.onda_down_contacto-container-opacity.ondaflex
      span.onda_down_contacto-container-title.title= title
      h2.onda_down_contacto-container-subtitle.subtitle= subtitle
