mixin onda_two(title2, subtitle2)
  div.onda_two-container
    div.onda_two-container-opacity.ondaFlex
      span.onda_two-container-title.title= title2
      h2.onda_two-container-subtitle.subtitle= subtitle2
