mixin onda_down_footer_contacto(title, subtitle)
  div.onda_down_footer_contacto-container
    div.onda_down_footer_contacto-container-opacity.ondaFlex
      span.onda_down_footer_contacto-container-title.title= title
      h2.onda_down_footer_contacto-container-subtitle.subtitle= subtitle
