mixin onda_down_two_seo(title, subtitle)
  div.onda_down_two_seo-container
    div.onda_down_two_seo-container-opacity
      span.onda_down_two_seo-container-title= title
      span.onda_down_two_seo-container-subtitle= subtitle
