mixin onda_two(title2, subtitle2)
  div.section-movil
  div.onda_two-container.section-pasos.section-movil
    div.onda_two-container-opacity
      span.onda_two-container-title= title2
      h2.onda_two-container-subtitle= subtitle2
