mixin onda_down_nosotros(title, subtitle)
  div.onda_down_nosotros-container
    div.onda_down_nosotros-container-opacity
      span.onda_down_nosotros-container-title= title
      h2.onda_down_nosotros-container-subtitle= subtitle
