mixin onda_down_servicio(title, subtitle)
  div.onda_down_servicio-container
    div.onda_down_servicio-container-opacity.ondaFlex
      span.onda_down_servicio-container-title.title= title
      h2.onda_down_servicio-container-subtitle.subtitle= subtitle
