mixin onda_down_footer_portafolio(title, subtitle)
  div.onda_down_footer_portafolio-container
    div.onda_down_footer_portafolio-container-opacity.ondaFlex
      span.onda_down_footer_portafolio-container-title.title= title
      h2.onda_down_footer_portafolio-container-subtitle.subtitle= subtitle
