mixin onda_down(title, subtitle)
  div.onda_down-container
    div.onda_down-container-opacity.ondaFlex
      span.onda_down-container-title.title= title
      h2.onda_down-container-subtitle.subtitle= subtitle
