mixin onda_down_two_servicio(title, subtitle)
  div.onda_down_two_servicio-container
    div.onda_down_two_servicio-container-opacity
      span.onda_down_two_servicio-container-title= title
      h2.onda_down_two_servicio-container-subtitle= subtitle
