mixin onda_down_two_app(title, subtitle)
  div.onda_down_two_app-container
    div.onda_down_two_app-container-opacity.ondaFlex
      span.onda_down_two_app-container-title.title= title
      span.onda_down_two_app-container-subtitle.subtitle= subtitle
