mixin onda_two_servicio(title2, subtitle2)
  div.section-movil_servicio
  div.onda_two_servicio-container.section-pasos_servicio.section-movil_servicio
    div.onda_two_servicio-container-opacity
      span.onda_two_servicio-container-title= title2
      h2.onda_two_servicio-container-subtitle= subtitle2
