mixin onda_two_diseno(title2, subtitle2)
  div.onda_two_diseno-container
    div.onda_two_diseno-container-opacity.ondaFlex
      span.onda_two_diseno-container-title.title= title2
      h2.onda_two_diseno-container-subtitle.subtitle= subtitle2
