mixin onda_two_diseno(title2, subtitle2)
  div.section_diseno-movil
  div.onda_two_diseno-container.section-pasos.section_diseno-movil
    div.onda_two_diseno-container-opacity
      span.onda_two_diseno-container-title= title2
      h2.onda_two_diseno-container-subtitle= subtitle2
