mixin onda_down_two_app(title, subtitle)
  div.onda_down_two_app-container
    div.onda_down_two_app-container-opacity
      span.onda_down_two_app-container-title= title
      span.onda_down_two_app-container-subtitle= subtitle
