mixin portafolio_textdos(one, two, three)
  div.container_textdos_portafolio
    article.portafolio_textdos
      span.portafolio_textdos-one.texto= one
      br
      span.portafolio_textdos-two.texto= two
      br
      span.portafolio_textdos-three.texto= three
        br
        br
        br
        a(href="").btn Contactanos
