mixin portafolio_dostext(one)
  div.container_dostext_portafolio
    article.portafolio_dostext
      span.portafolio_dostext-one.font= one
        br
        br
        br
        a(href="").btn Contactanos
