mixin portafolio_text(images, text)
  article.text_portafolio
    div.text_portafolio-img
      i.text_portafolio-img-i(style=`background-image: url(${images});`)
    span.text_portafolio-parrafo.texto= text
      br
      br
      a(href="").btn Contactanos
