mixin portafolio_text(text)
  article.text_portafolio
    div.text_portafolio-img
      span.text_portafolio-img-svg
    span.text_portafolio-parrafo.font= text
      br
      br
      a(href="").btn Contactanos
