mixin poster(image, title, subtitle)
  article.Poster.u-firstContent(style=`background-image: url(${image});`)
    div.Poster--opacity
      div.Poster-group
        h1.Poster-title
          span= title
          br
          span.Poster-subtitle.
            !{subtitle}
        section.Poster-bottom
          a(href='./nosotros.html').Poster-bottom-movil.btn Conoce más
          a(href='./contacto.html').Poster-bottom-tablet.btn Hablemos
