mixin servicio_diseno_textdos(one, two, three)
  div.container_textdos
    article.diseno_textdos
      span.diseno_textdos-one.texto= one
      br
      span.diseno_textdos-two.texto= two
      br
      span.diseno_textdos-three.texto= three
        br
        a(href="").btn Contactanos
