mixin servicio_app_text(one, two, three)
  div.container_app
    article.app_text
      span.app_text-one.texto= one
      br
      span.app_text-two.texto= two
      br
      span.app_text-three.texto= three
        br
        br
        br
        a(href="").btn Contactanos
