mixin servicio_app(text, text2)
  article.text_app
    div.text_app-img
      span.text_app-img-svg
    span.text_app-parrafo.font= text
      br
      span.text_app-parrafo-two.font= text2
      br
      br
      a(href="").btn Contactanos
