mixin servicio_seo(text, text2)
  article.text_seo
    div.text_seo-img
      span.text_seo-img-svg
    span.text_seo-parrafo.font= text
      br
      span.text_seo-parrafo-two.font= text2
      br
      br
      a(href="").btn Contactanos
