mixin servicio_seo(images, text, text2)
  article.text_seo
    div.text_seo-img
      i.text_seo-img-i(style=`background-image: url(${images});`)
    span.text_seo-parrafo.texto= text
      span.text_seo-parrafo-two.texto= text2
      br
      a(href="./contacto.html").btn Contactanos
