mixin servicio_diseno(text, text2)
  article.text_diseno
    div.text_diseno-img
      span.text_diseno-img-svg
    span.text_diseno-parrafo.font= text
      br
      span.text_diseno-parrafo-two.font= text2
      br
      br
      a(href="").btn Contactanos
