mixin servicio_app_text(one, two, three)
  div.container_app
    article.app_text
      span.app_text-one.font= one
      br
      span.app_text-two.font= two
      br
      span.app_text-three.font= three
        br
        br
        br
        a(href="").btn Contactanos
