mixin servicio_app_textdos(one, two, three)
  div.container_textdos_app
    article.app_textdos
      span.app_textdos-one.texto= one
      br
      span.app_textdos-two.texto= two
      br
      span.app_textdos-three.texto= three
        br
        a(href="").btn Contactanos
