mixin servicio_diseno_text(one, two, three)
  div.container
    article.diseno_text
      span.diseno_text-one.texto= one
      br
      span.diseno_text-two.texto= two
      br
      span.diseno_text-three.texto= three
        br
        br
        br
        a(href="").btn Contactanos
