mixin servicio_seo_dostext(one, two, three)
  div.container_dostext_seo
    article.seo_dostext
      span.seo_dostext-one.font= one
        br
        br
        br
        a(href="").btn Contactanos
