mixin servicio_seo_textdos(one, two, three)
  div.container_textdos_seo
    article.seo_textdos
      span.seo_textdos-one.font= one
      br
      span.seo_textdos-two.font= two
      br
      span.seo_textdos-three.font= three
        br
        br
        br
        a(href="").btn Contactanos
