mixin servicio_diseno_text(one, two, three)
  div.container
    article.diseno_text
      span.diseno_text-one.font= one
      br
      span.diseno_text-two.font= two
      br
      span.diseno_text-three.font= three
        br
        br
        br
        a(href="").btn Contactanos
