mixin servicio_diseno_textdos(one, two, three)
  div.container_textdos
    article.diseno_textdos
      span.diseno_textdos-one.font= one
      br
      span.diseno_textdos-two.font= two
      br
      span.diseno_textdos-three.font= three
        br
        br
        a(href="").btn Contactanos
