mixin servicio_app(images, text, text2)
  article.text_app
    div.text_app-img
      i.text_app-img-i(style=`background-image: url(${images});`)
    span.text_app-parrafo.texto= text
      span.text_app-parrafo-two.texto= text2
      br
      a(href="").btn Contactanos
