mixin servicio_nosotros_dostext(one, two, three)
  div.container_dostext_nosotros
    article.nosotros_dostext
      span.nosotros_dostext-one.texto= one
        br
        br
        br
        a(href="./contacto.html").btn Contactanos
