mixin servicio_diseno(images, text, text2)
  article.text_diseno
    div.text_diseno-img
      i.text_diseno-img-i(style=`background-image: url(${images});`)
    span.text_diseno-parrafo.texto= text
      span.text_diseno-parrafo-two.texto= text2
      br
      a(href="./contacto.html").btn Contactanos
