mixin text(text, text2)
  article.text
    div.text-img
      span.text-img-svg
    span.text-parrafo= text
      br
      br
      span.text-parrafo-two= text2
      br
      br
      a(href="").btn Contactanos
