mixin text(image, text, text2)
  article.text
    div.text-img
      i.text-img-i(style=`background-image: url(${image});`)
    span.text-parrafo.texto= text
      span.text-parrafo-two.texto= text2
      br
      a(href="").btn Contactanos
