extends ../config/template
//- Includes...

include ../components/poster.pug
include ../components/onda.pug
include ../components/servicio_app_text.pug
include ../components/onda_down_app.pug
include ../components/servicio_app_texto.pug
include ../components/onda_down_two_app.pug
include ../components/servicio_app_textdos.pug
include ../components/footer_app.pug
include ../components/onda_down_footer_app.pug


append config
  -pageTitle = 'App'
  -pageDescription = 'Pagina inicial de CenterPage'

block main
    +poster('./assets/img/14472.jpg', 'DISEÑO Y DESARROLLO WEB', 'para tu página web hecha a la medida.')
    +onda('Desarrollo de aplicaciones web a tu medida.', '')
    +servicio_app('Una aplicación web rápida y confiable nos brinda un alto nivel del éxito de cualquier otro proyecto en la web.', 'Evaluamos los requerimientos de su empresa para desarrollar la aplicación web a la medida.')
    +onda_down_app('¿POR QUÉ PONER TU EMPRESA EN NUSTRAS MANOS? ', '')
    +servicio_app_text('Vamos a tu empresa para analizar tus procesos y requerimientos, damos una evaluación profunda a tu negocio para poder conocer tus necesidades y ver que procesos se pueden sistematizar.', 'Hacemos que tu aplicación web tenga un eficiente desempeño que sea segura, fiable, portable y que tenga una experiencia de usuario sea lo más amigable posible; no solo basta con subirla a internet es necesario cumplir con estándares para que pueda ser una aplicación web segura y este al nivel de la competencia.', 'En CenterPage ponemos a tu disposición nuestra experiencia y buenas practicas para poder desarrollar una aplicación web que te mereces para garantizar un buen funcionamiento y obtener futuros clientes contentos.')
    +onda_down_two_app('¿Aún tienes dudas?', 'Estamos a tu servicio.')
    +servicio_app_textdos('En conclusión, si necesitas diseñar y desarrollar un sitio web a la medida de tu empresa o marca personal, en CenterPage contamos con experiencia y personas capacitadas para poder llevar a cabo el servicio.', 'Si necesitas más información o quieres pedir un presupuesto para que te ayudemos con el diseño y desarrollo de tu web, no dudes en contactar con nosotros.')
    +onda_down_footer_app('', '')
    +footer_app()
