extends ../config/template
//- Includes...

include ../components/poster.pug
include ../components/onda.pug
include ../components/servicio_diseno.pug
include ../components/onda_down_diseno.pug
include ../components/servicio_diseno_text.pug
include ../components/onda_two_diseno.pug
include ../components/pasos_diseno.pug
include ../components/onda_down_two_diseno.pug
include ../components/servicio_diseno_textdos.pug
include ../components/onda_down_dos_diseno.pug
include ../components/servicio_calidad_diseno.pug
include ../components/onda_down_footer_diseno.pug
include ../components/footer_diseno.pug

append config

block main
    +poster('./assets/img/14472.jpg', 'DISEÑO Y DESARROLLO WEB', 'para tu página web hecha a la medida.')
    +onda('Diseño y desarrollo web a tu medida.', '')
    +servicio_diseno('./assets/img/diseno.svg', 'Déjanos transformar tu idea en una página web hecha a la medida de tus necesidades.', 'En CenterPage podemos diseñar y desarrollar tu sitio web para conseguir posicionar tu empresa y que Internet sea un canal de ventas rentable para tu negocio.')
    +onda_down_diseno('¿POR QUÉ PONER TU EMPRESA EN NUSTRAS MANOS?', '')
    +servicio_diseno_text('Somos especialistas en el diseño y desarrollo web por eso no solo pensamos en diseñar tu sitio web de acuerdo a un patrón estético también te ayudamos para que la experiencia del usuario sea la más amigable posible.', 'No es suficiente subir un sitio web para que los clientes potenciales lleguen, esto va más allá y se necesita de una estrategia de posicionamiento buena para que tu sitio web aparezca en los primeros puestos de búsqueda.', 'En CenterPage te ofrecemos nuestra experiencia y buenas practicas para lograr que tu sitio web sea un éxito en internet.')
    +onda_two_diseno('Pasos para desarrollar', 'LA PAGINA WEB HECHA A TU MEDIDA')
    +pasos_diseno('1.- Estructura de la informacón', 'Identificamos y ordenamos tu información para organizarla en el sitio web.', '2.- Flujo de trabajo y diseño', 'Armado de prototipos para el posible diseño de su sitio web.', '3.- Maquetación y programación', 'Pasamos a código el diseño del prototipo elegido por el cliente.', '4.- Puesta en producción', 'Subimos el código a los servidores para que  todo el mundo pueda ingresar a su sitio web.')
    +onda_down_two_diseno('¿Aún tienes dudas?', 'Estamos a tu servicio.')
    +servicio_diseno_textdos('En conclusión, si necesitas diseñar y desarrollar un sitio web a la medida de tu empresa o marca personal, en CenterPage contamos con experiencia y personas capacitadas para poder llevar a cabo el servicio.', 'Si necesitas más información o quieres pedir un presupuesto para que te ayudemos con el diseño y desarrollo de tu web, no dudes en contactar con nosotros.')
    +onda_down_dos_diseno('Ven y trabaja con nosotros.', 'DESCUBRE LA CALIDAD DE NUESTROS PRODUCTOS.')
    +calidad_servicio_diseno('MODERNO', 'Ponemos a tu disposición diseños recientes de acuerdo a tu estilo.', 'CALIDAD', 'Ofrecemos trabajos de la más alta calidad.', 'ATENCIÓN', 'Atención personalizada para cada uno de nuestros clientes.')
    +onda_down_footer_diseno('', '')
    +footer_diseno()
