extends ../config/template
//- Includes...

include ../components/poster.pug
include ../components/onda.pug
include ../components/servicio_seo_text.pug
include ../components/onda_down_seo.pug
include ../components/servicio_seo_textdos.pug
include ../components/onda_down_two_seo.pug
include ../components/servicio_seo_dostext.pug
include ../components/onda_down_footer_seo.pug
include ../components/footer_seo.pug

append config
  -pageTitle = 'App'
  -pageDescription = 'Pagina inicial de CenterPage'

block main
    +poster('./assets/img/14472.jpg', 'DISEÑO Y DESARROLLO WEB', 'para tu página web hecha a la medida.')
    +onda('POSICIONAMIENTO SEO.', '')
    +servicio_seo('./assets/img/investin.svg', 'Déjame decirte que en esta época en la que vivimos sino estas en internet no existes.', 'Por eso nos ponemos a tu disposición para ayudarte a aparecer en los primeros puestos de búsqueda en los principales buscadores.')
    +onda_down_seo('¿POR QUÉ PONER TU EMPRESA EN NUSTRAS MANOS? ', '')
    +servicio_seo_textdos('Las tecnologías avanzan a pasos agigantados y cada vez son muchas las empresas o marcas personales que tienen un sitio web, pero ahora no basta con solo estar en internet.', 'Si combinamos un sitio web con un análisis seo tu página web puede aparecer en los primeros puestos al momento de buscar en cualquier motor de búsqueda.', 'En CenterPage te ayudamos a que tu empresa o marca personal tenga un posicionamiento web de acuerdo a las necesidades de los usuarios sin dejar de lado tus objetivos como empresa.')
    +onda_down_two_seo('¿Aún tienes dudas?', 'Estamos a tu servicio.')
    +servicio_seo_dostext('Si estas interesado en conocer como tu empresa o marca personal puede llegar hacer conocida más rápido que las demás, nosotros te ayudamos a posicionar tu sitio web en los mejores lugares que tienen los principales motores de búsqueda.')
    +onda_down_footer_seo('', '')
    +footer_seo()
