extends ../config/template
//- Includes...

include ../components/poster.pug
include ../components/onda.pug
include ../components/servicio.pug
include ../components/onda_down_servicio.pug
include ../components/calidad_servicio.pug
include ../components/onda_two_servicio.pug
include ../components/pasos_servicio.pug
include ../components/onda_down_two_servicio.pug
include ../components/footer_servicio.pug

append config
  -pageTitle = 'Servicios'
  -pageDescription = 'Ven y trabaja con nosotros. DESCUBRE LA CALIDAD DE NUESTROS PRODUCTOS'

block main
    +poster('./assets/img/14472.jpg', 'DISEÑO Y DESARROLLO WEB', 'para tu página web hecha a la medida')
    +onda('Sección de servicios', 'NOSOTROS LO PODEMOS DISEÑAR')
    +servicio('./assets/img/diseno.jpg', 'Diseño y Desarrollo Web', 'Déjanos transformar tu idea en una página web hecha a la medida de tus necesidades.', './assets/img/app.jpg', 'Desarrollo de Aplicacones Web', 'Evaluamos los requerimientos de su empresa para desarrollar la aplicación web a la medida.', './assets/img/seo.jpg', 'SEO - Posicionamiento Web', 'Mejoramos el posicionamiento y visibilidad de su página web en Google.')
    +onda_down_servicio('Ven y trabaja con nosotros', 'DESCUBRE LA CALIDAD DE NUESTROS PRODUCTOS')
    +calidad_servicio('MODERNO', 'Ponemos a tu disposición diseños recientes de acuerdo a tu estilo.', 'CALIDAD', 'Ofrecemos trabajos de la más alta calidad.', 'ATENCIÓN', 'Atención personalizada para cada uno de nuestros clientes.')
    +onda_two_servicio('Pasos para desarrollar', 'LA PAGINA WEB HECHA A TU MEDIDA')
    +pasos_servicio('1.- Estructura de la informacón', 'Identificamos y ordenamos tu información para organizarla en el sitio web.', '2.- Flujo de trabajo y diseño', 'Armado de prototipos para el posible diseño de su sitio web.', '3.- Maquetación y programación', 'Pasamos a código el diseño del prototipo elegido por el cliente.', '4.- Puesta en producción', 'Subimos el código a los servidores para que  todo el mundo pueda ingresar a su sitio web.')
    +onda_down_two_servicio('', '')
    +footer_servicio()
