// Typography
$font-family: 'sans-serif';

:root {
  --font-family: sans-serif;
}

:root {
  --bg-primary: rgba(43, 134, 220, .5);
  --bg-btn: #1966FF;
}

/* ********** Variables ********** */
$breakpoints: (
  xs: 30em, /* 480 / 16  */
  s: 37.5em, /* 600 / 16  */
  m: 45em, /* 720 / 16 */
  l: 64em, /* 1024 / 16 */
  xl: 75em /* 1200/ 16 */
);


// EN LOS 2 000 PX HACIA ARRIBA SE MALOGRA LA ONDA 
